<!DOCTYPE html>
<html>
  <head>
    <title>CdpWebRailsSessionLoginTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p id="notice"><%= notice %></p>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <% if logged_in? %>
    <div id= "tasks-index">
    <li><%= link_to "タスク一覧", tasks_path(current_user.id) %></li>
    </div>
    <div id= "new-task">
    <li><%= link_to "タスクを登録する", new_task_path(current_user.id) %></li>
    </div>
    <div id= "my-account">
    <li><%= link_to "アカウント", user_path(current_user.id) %></li>
    <div>
    <div id= "sign-out">
    <li><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
   </div>

    <% else %>
      <li><%= link_to "アカウント登録", new_user_path %></li>
      <li><%= link_to "ログイン", new_session_path %></li>
    <% end %>
    <%= yield %>
  </body>
</html>
